<div class='container'>

  <!-- WELCOME VIEW -->

  <div id="welcomeView">
    <div class="form">
      <h2 id="welcomeTitle">STOP!</h2>
      <form>
        <label for="name">Name</label>
        <input type="text" id="name"/>
        <label for="room">Room</label>
        <input type="text" id="room"/>
        <button id='joinGame' class="pure-button pure-button-primary">Start</button>
      </form>
    </div>
  </div>

  <!-- LOBBY -->

  <!-- <div id="lobbyView" hidden>
    <h2 id="lobbyTitle">Players</h2>
    <ul id="playerList" >

    </ul>
    <button id='startGame' class="pure-button pure-button-primary">Start Game</button>
  </div> -->

  <!-- GAME VIEW -->

  <div id="gameView" hidden>
    <div class="form">
      <h2 id="gameTitle">Letra: 'a'</h2>

      <form>
        <label class="label">Nombre</label>
        <input type="text" id='nombre'/>
        <br />
        <br />

        <label class="label">Apellido</label>
        <input type="text" id='apellido'/>
        <br />
        <br />

        <label class="label">Animal&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
        <input type="text" id='animal'/>
        <br />
        <br />

        <label class="label">Pueblo&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
        <input type="text" id='pueblo'/>
        <br />
        <br />

        <label class="label">Pais&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
        <input type="text" id='pais'/>
        <br />
        <br />

        <label class="label2">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
        <button id='submitGame' class="pure-button pure-button-primary">Done!</button>
      </form>
    </div>
  </div>

  <!-- RESULTS -->

  <div id="resultsView" hidden>
    <h2 id="resultsTitle">Game Results</h2>
    <ul id="resultsList">
    </ul>
  </div>
  <script>
    window.onload = function() {
      var messages = []
      var data
      var room
      var name

      var game = io('http://localhost:3000')

      game.on('connect', function(socket) {
        console.log(socket)
      })

      game.on('new player', function (data) {
        console.log('new player')
        $('#playerList').append('<li>'+data.name+'</li>')
      })

      game.on('start game', function (data) {
        var counter = 45
        window.setInterval(function () {
          document.getElementById('gameTitle').innerHTML = 'Letra: \'' + data.letter + '\' Time: ' + counter + 's'
          console.log(counter)
          counter--
          if (counter === 0) {
            window.clearInterval(this)
            game.emit('end')
          }
        }, 1000)
      })

      game.on('send data', function () {
        $('#submitGame').addClass('pure-button-disabled')

        if (!data) { // This fella was not the one who ended the game
          data = {
            nombre: $('#nombre').val(),
            apellido: $('#apellido').val(),
            animal: $('#animal').val(),
            pueblo: $('#pueblo').val(),
            pais: $('#pais').val()
          }
        }

        game.emit('submission', {
          player: name,
          data: data
        })
      })

      game.on('player left', function () {

      })

      game.on('results', function (results) {
        $('#gameView').attr('hidden', true)

        for (var i = 0; i < results.length; i++) {
          $('#resultsList').append('<li>Player: '+results[i].player+' Score: '+results[i].score+'</li>')
        }

        $('#resultsView').attr('hidden', false)

      })

      $('#joinGame').click(function(e) {
        e.preventDefault()
        name = $('#name').val()
        room = $('#room').val()
        game.emit('join', { name: name, room: room }, function (status) {
          if (status === 'OK') {
            console.log('joined game')
            $('#welcomeView').attr('hidden', true)
            $('#gameView').attr('hidden', false)

          } else if (status === 'ERROR') {
            alert('There was an error')
          }
        })
      })

      // $('#startGame').click(function (e) {
      //   e.preventDefault()
      //
      // })

      $('#submitGame').click(function(e) {
        e.preventDefault()

        data = {
          nombre: $('#nombre').val(),
          apellido: $('#apellido').val(),
          animal: $('#animal').val(),
          pueblo: $('#pueblo').val(),
          pais: $('#pais').val()
        }

        socket.emit('end')
      })
    }

  </script>
</div>
